# Frist Program in Python
## 1. Write your first Program Print  "Hello World !"
## 2. Print the version of Python.  (Note: you can use google!)

In [1]:
print("Hello World!")

Hello World!

In [17]:
import sys
print(sys.version)

3.12.3 (v3.12.3:f6650f9ad7, Apr  9 2024, 08:18:47) [Clang 13.0.0 (clang-1300.0.29.30)]

# Datatypes in Python
## 3.Find the datatype of the following values: (Note: use "type" built-in function)
### 11,    22.23,     "Hello World", True

In [3]:
print(type(11))

<class 'int'>

In [4]:
print(type(22.23))

<class 'float'>

In [7]:
print(type("Hello World"))

<class 'str'>

In [6]:
print(type(True))

<class 'bool'>

# Typecast in Python
## 4. typecast the above data i.e. 'integer' into 'float' and 'float' into 'int', 
## 5. typecast 'boolean' "true, false" into 'int' and 'float' 
## 6. typecast 0 1 into boolean and see the results

In [18]:
f_value = float(11)
print(f_value)

int_1 = int(22.23)
print(int_1)

11.0
22

In [13]:
print("boolean as true, false int:", int(True), int(False))
print("boolean as true, false float:", float(True), float(False))

boolean as true, false int: 1 0
boolean as true, false float: 1.0 0.0

In [15]:
print(bool(0))
print(bool(1))

False
True

# Variables and Expressions (all mathematical operations can be used)
## 7. Declare 2 integer variables and divide them. 
### Output should be displayed as an integer. (Note: do NOT use typecast)

In [68]:
a = 30
b = 12

result = a // b
print(result)

2

## 8. Find out the System Setting about float type. (information about float)

In [30]:
print("Size of float in bytes:", sys.getsizeof(float()))
print("Minimum float value:", -sys.float_info.max)
print("Maximum float value:", sys.float_info.max)
print("Smallest positive float:", sys.float_info.min)
print("Smallest positive normalized float:", sys.float_info.min)
print("Float precision in decimal digits:", sys.float_info.dig)

Size of float in bytes: 24
Minimum float value: -1.7976931348623157e+308
Maximum float value: 1.7976931348623157e+308
Smallest positive float: 2.2250738585072014e-308
Smallest positive normalized float: 2.2250738585072014e-308
Float precision in decimal digits: 15

# Strings
## 9. Print the length of the string below.
## 10. Print the first 'word' in the string using negative indexing. (Print RRC)
## 11. "Slice" the string and display "Polytech".
## 12. Use the concept of "Stride" and display "Polytech" backwards. (Print "hcetyloP")
## 13. Change the string into uppercase.
## 14. Replace "Polytech" with "Polytechnic". (Note: use replace function)

In [19]:
school = 'RRC Polytech'

print("Length of the string is", len(school))
print("First 'word' using negative indexing:", school[:-9])
print("Slice the string to display 'Polytech':", school[4:])
print("Reversed 'Polytech' using stride:", school[12:3:-1])
print("Change the string into uppercase.:", school.upper())
school_2 = school.replace("Polytech", "Polytechnic")
print("Replace 'Polytech' with 'Polytechnic':", school_2)

Length of the string is 28
First 'word' using negative indexing: RRC PolytechPolytec
Slice the string to display 'Polytech': PolytechPolytechPolytech
Reversed 'Polytech' using stride: PhcetyloP
Change the string into uppercase.: RRC POLYTECHPOLYTECHPOLYTECH
Replace 'Polytech' with 'Polytechnic': RRC PolytechnicPolytechnicPolytechnic

# RegEx in python (google how to import RegEx in python)
## 15. Define the search "pattern" to search RRC in the above string(school) and display "Match Found" or "Match Not Found" accordingly using an if else statement.

In [54]:
import re

# Defining the pattern to search for
pattern = r"RRC"

# Use the search() function to search for the pattern in the string
result = re.search(pattern, school)

# Check if a match is found and print accordingly.
if result:
    print("Match Found")
else:
    print("Match Not Found")

Match Found

# For Loop
## 16. Use loops to print out the elements in the list:

In [57]:
colours = ["red", "green", "blue"]

print("Please select a colour for your profile theme. Available options are:")

for colour in colours:
    print(colour)

Please select a colour for your profile theme. Available options are:
red
green
blue

# While Loop
## 17. Write a while loop to display the values of the Rating stored in the list PlayListRatings. If the score is less than 6, exit the loop.
### PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

In [62]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
rating = PlayListRatings[0]
# write while loop logic to achieve above requirement
while i < len(PlayListRatings):
    rating = PlayListRatings[i] 
    if rating < 6:
        break 
    print(rating) 
    i += 1

10
9.5
10
8
7.5

# Functions
## 18. Write a function that calculates and returns the square of a parameter. Below is the example of how to declare a function
### def function_name(parameter_name):

In [64]:
def square(number):
    return number ** 2

result = square(23)
print(result)

529

# Bonus
## 19. Demonstrate something cool you learned to do with Python while completing this worksheet, and write about why you thought it was cool in a comment.

In [ ]:
# a = 30
# b = 12

# result = a // b
# print(result)
# This code is cool for me because I can just use "/" if I want float and "//" if I want a whole number integer when dividing numbers.